plugins:
  - jekyll-relative-links
relative_links:
  enabled: true
  collections: true
include:
  - README.md
  - LICENSE.md

title: Dialogues with the Machine
description: Choose "Dialogues with the Machine" if the book focuses on a unique, named, or culturally significant machine, where its distinct identity is central to the story or argument.
